########## ProMoAI configuration ##########
# TODO: prefix PROMOAI_ and new subclass in config.py


########## LLM configuration ##########

### Configuration for the general LLM parameters.
MODEL_MAX_TOKENS=3000  # The maximum number of tokens that can be generated in the chat completion.
MODEL_TEMPERATURE=0.0  # Float controlling the randomness of the sampling. Lower values make the model more deterministic, while higher values make the model more random. Zero means greedy sampling.

### Configuration for Azure OpenAI Endpoints.
AZURE_OPENAI_BASE_URL=""  # base url ending in .azure.com
AZURE_OPENAI_MODEL_NAME="gpt-4o"
AZURE_OPENAI_MODEL_VERSION="2025-01-01-preview"
AZURE_OPENAI_API_KEY=""

### Configuration for the LangChain AI Portal API.
PORTAL_API_HOST=""
PORTAL_API_PORT=443
PORTAL_API_USE_SSL=True
PORTAL_API_API_KEY=""

PORTAL_API_MODEL_IDENTIFIER="casperhansen/llama-3.3-70b-instruct-awq"  # HuggingFace model identifier as implemented in the AI Portal API, formatted as 'organization/model_name'.


############ Development configuration ##########

### configuration for logging
LOGGING_ENABLE_PRINTS=True  # # for development, disable for demo; overrides promoai.general_utils.constants
